<style>
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    transition: 0.25s;
    }
    .w-btn-ccc {
    color: red;
        background-color: white;
    }
</style>

<div style="text-align: left;">
    <div>
        <strong>
            {{ comment.writer }}
<!--            {{ comment.writer.profile.nickname }}-->
        </strong>
        &nbsp&nbsp&nbsp
        {{ comment.comment_wdate }}
    </div>

    <div style="margin: 1rem 0;">
        {{ comment.comment_content }}
    </div>
    {% if comment.writer == user %}
    <div style="text-align: right;">
        <button style="outline: 0; border: 0;background-color:transparent; color:red" onclick="delete_comment(`{{ comment.comment_id }}`)">댓글 삭제</button>
    </div>
    {% endif %}


</div>

<script>
    function delete_comment(comment) {
        alert("댓글을 삭제하시겠습니까?")
        $.ajax({
            url: 'delete_comment',
            type: 'GET',
            data: {
                'comment': comment,
            },
            dataType: 'json',
            success: function (data) {
                window.location.reload()
            },
            error: function (data) {
                alert("게시글 삭제 실패")
                window.location.reload()
            }
        })
    }</script>
